.questionNumbers {
    font-size: 180%;
    font-family: Lato,sans-serif;
}

.questionDesciption {
    color: #127ebf; 
    font-size: 120%;
    font-family: Lato,sans-serif;
    margin-bottom: 1%;
}

.answerQuizSelection {
    font-family: Lato,sans-serif;
    margin-top: 0%;
}

.individualQuestions {
    text-align: start;
    font-size: 100%;
    font-family: Lato,sans-serif;
}

/* RESULTS CSS */

.questionNumbersWrong {
    color: #c33333;
    margin-top: 2%;
}

.questionDesciptionWrong {
    color: #cc3333;
    margin-bottom: .5%;
}

.questionNumbersRight {
    color: #1e5b88;
    margin-top: 2%;
}

.questionDesciptionRight {
    color: #127ebf; 
}


