.questionNumbers {
    font-size: 180%;
    font-family: Lato,sans-serif;
}

.questionDesciption {
    color: #127ebf; 
    font-size: 120%;
    font-family: Lato,sans-serif;
    margin-bottom: 1%;
}

.individualQuestions {
    text-align: start;
    font-size: 100%;

}

.questionNumbersWrong {
    color: white;
}

.questionDesciptionWrong {
    color: #d8dae3;
}

.questionNumbersRight {
    color: #1e5b88;
}

.questionDesciptionRight {
    color: #127ebf; 
}

.individualQuestions {
    text-align: start;
    font-size: 100%;

}