.quizBg {
    background-image: url("quizBg.png");
    height: 100%;
    width: 100%;
    margin-top: 1%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
}

.buttonQuestionNumberRow {
    width: 80%;
    height: 10%;
}

.toggleQuestionLeft {
    width: 10%;
    height: 10%;
    margin-left: 38%;
    margin-top: -1%;
    border: 0;
    background: transparent !important;
}



.toggleQuestionLeft:focus {
    box-shadow: none !important;
    background: none;
}

.toggleQuestionLeft:hover {
    border: 0;
    background: none;
}

.leftArrow {
    width: 60%;
    height: 100.5%;
}

.questionPosOutOfTotal {
    color: #93c2ec;
    font-family: Lato,sans-serif;
    font-size: 120%;
    margin-top: 0%;
    margin-left: -1%;
    width: 8%;
}


.toggleQuestionRight {
    width: 10%;
    height: 10%;
    margin-left: -1%;
    margin-top: -1%;
    border: 0;
    background: transparent;
}

.toggleQuestionRight:hover {
    border: 0;
    background: transparent;
}

.toggleQuestionRight:disabled {
    border: 0;
    background: transparent;
}

.toggleQuestionRight:focus {
    box-shadow: none !important;
    background: none;
}

.rightArrow {
    width: 60%;
    height: 100.5%;
}

.answerQuizSelection {
    margin-bottom: 2%;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;   
}



.individualQuestions {
    text-align: start;
    font-size: 80%;
    margin-top: -1%;

}
.quizPointInfo{
    font-family: Lato,sans-serif;
}

.correct {
    background-color: lightgreen;
}

.wrong {
    background-color: #c33333;;
}

.quizResultsHeader {
    align-items: center;
    color: #1e5b88;
    font-family: Lato,sans-serif;
    font-size: 170%;
    font-weight: bold;
    margin-left: 5%;
}

.quizHomeBttn {
    background-color: #127ebf;
    color: white;
    font-family: Lato,sans-serif;
    border: 0;
    margin-left: 45%;
    margin-bottom: 5%;
}

.quizHomeBttn:focus {
    border: none;
    background-color: #127ebf;
    color: #d8dae3;
}

.quizHomeBttn:hover {
    border: none;
    background-color: #127ebf;
    color: #d8dae3;
}