.quizBg {
    background-image: url("quizBg.png");
    height: 100%;
    width: 100%;
    margin-top: 1%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
}

.buttonQuestionNumberRow{
    width: 80%;
    height: 10%;
}

.toggleQuestionLeft {
    width: 10%;
    height: 10%;
    margin-left: 38%;
    margin-top: -1%;
    border: 0;
    background: transparent;
}

.toggleQuestionLeft:disabled {
    border: 0;
    background: transparent;
}

.toggleQuestionLeft:hover {
    border: 0;
    background: transparent;
}

.leftArrow {
    width: 60%;
    height: 100.5%;
}

.questionPosOutOfTotal {
    color: #93c2ec;
    font-family: Lato,sans-serif;
    font-size: 90%;
    margin-top: 1%;
    margin-left: -1%;
    width: 8%;
}


.toggleQuestionRight {
    width: 10%;
    height: 10%;
    margin-left: -1%;
    margin-top: -1%;
    border: 0;
    background: transparent;
}

.toggleQuestionRight:hover {
    border: 0;
    background: transparent;
}

.toggleQuestionRight:disabled {
    border: 0;
    background: transparent;
}

.rightArrow {
    width: 60%;
    height: 100.5%;
}