.navPills{
    background-color: #127ebf;
    margin-right: .5vmax;
    margin-top: .5vmax;
    
}

.font{
    color: white;
    font-family: Lato,sans-serif;
}

.MedcurityLogo {
    width: 15vmax;
}

.logo {
    border: white;
}

.pills {
    border: white;
}

.uvs-left {
    border-radius: 10px 10px 10px 10px;
}
    
    
.uvs-right {
    border-radius: 10px 10px 10px 10px;
    
}

