.uvs-left {
    border-radius: 10px 10px 10px 10px;
}
       
.uvs-right {
    border-radius: 10px 10px 10px 10px;
}

#submit-btn {
    padding-top: 10px;
<<<<<<< HEAD
}

.quizSubmitBttn {
    color: white;
    background-color: #127ebf;
    font-family: Lato,sans-serif;
    border: 0;
    width: 12%;
    height: 60%;
    margin-left: 90%;
    margin-bottom: 3%;
=======
>>>>>>> main
}