
#submit-btn {
    padding-top: 10px;

}

.quizSubmitBttn {
    color: white;
    background-color: #127ebf;
    font-family: Lato,sans-serif;
    border: 0;
    width: 20%;
    margin-left: 40%;
    margin-bottom: 5%;
}