.dashboard {
  margin-bottom: 1%;
  margin-top: 1%;
  margin-left: 2%;
  margin-right: 2%;

}

.dash_page {
  background-color: rgb(255, 255, 255);
}

.dash_requiredModules {
  background-color: rgb(255, 255, 255);
}

.dash_moduleDirectories {
  margin-top: -30px;
  background-color: rgb(219, 224, 237);
}

.dash_welcomeDiv {
  float: left;
  width: 1000px;
  padding-left: 10%;
  padding-top: 10vh;
  animation: dash_rightwardsFadeIn 1s;
}

.dash_profilePicture {
  margin-right: 1%;
  margin-bottom: 1%;
  width: 20vmin;
  height: 20vmin; 
}

.dash_topBackdrop {
  background-image: url("dash_welcomebg.png");
  background-repeat: no-repeat;
  background-position: center;
  width: auto;
  height: 60vh;
  padding-top: 1vh;
  animation: dash_fadeIn 1s;

}

.dash_separator {
  background-image: url("dash_directoriesbg.png");
  background-repeat: no-repeat;
  background-position: 0% 100%;
  width: auto;
  height: 25vh;
}

@media screen and (min-width: 500px) {
  .dash_miniLeaderboard {
    margin: auto;
    padding-top: 10vh;
    width: 400px;
  }
}

@media screen and (min-width: 1000px) {
  .dash_miniLeaderboard {
    padding-top: 10vh;
    padding-right: 10vh;
    width: 1700px;
    animation: dash_leftwardsFadeIn 1s;
  }
}

.dash_welcomeMessageP1 {
  color: white;
  text-shadow: 2px 2px 5px black;
  font-size: 2vmax;
}

.dash_welcomeMessageP2 {
  color: white;
  text-shadow: 2px 2px 5px black;
  font-size: 3.5vmax;
  margin-top: -15px;
}

@keyframes dash_fadeIn { 
  from { opacity:0; } 
  to { opacity:1; } 
}

@keyframes dash_rightwardsFadeIn { 
  from { padding-left: 5%; opacity: 0%; } 
  to { padding-left: 10%; opacity: 100%; } 
}

@keyframes dash_leftwardsFadeIn { 
  from { padding-right: 0vh; opacity: 0%; } 
  to { padding-right: 10vh; opacity: 100%; } 
}