.LeaderboardCard {
    font-size: 1.6vmax;
    text-align: center;
    color: white;
    margin-top: .5%;
    margin-left: .5%;
    margin-right: 7%;
    background-color: #93c2ec !important;
    width: 10%;
    height: 20vmax;
    overflow-y: hidden;
    overflow-x: hidden;
}

.userProfilesDash { 
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    width: .1%;
    height: .1%;
}

.dashLeaderboardFont {
    color: white;
    font-family: Lato,sans-serif;
    text-decoration: none;
}

.dashLeaderboardFont:hover {
     color: #d8dae3;
}

.userProfileDash {
    width: 4%;
    height: 4%;
    margin-top: 2.5%;
    margin-bottom: 1%;
    margin-left: 2%;
    margin-right: 2%;
}

.categoryDash {
    font-size: .1vmax;
    text-align: center;
    color: #127ebf;
}

.progressBarDash {
    width: 4%;
    height: 4%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
    align-items: center;
    display: flex;
    flex: column;
    justify-content: center;
}

.textDash {
    align-items: center;
    display: flex;
    flex: column;
    justify-content: center;
}