.cardBackgroundDash {
    margin-bottom: 2%;
    width: 100%;
    height: 22%;

}

.dashLeaderNumberPosition {
    color: #1e5b88;
    font-size: 90%;
    margin-top: 8%;
}

.profileImageDash {    
    height: 70%;
    margin-top: 5%;
}

.userTextDash {
    color: #1e5b88;
    font-size: 70%;
    font-family: Lato,sans-serif;
    text-overflow: ellipsis;
    margin-top: 10%;
}

.scoreTextDash {
    color: #127ebf;
    font-family: Lato,sans-serif;
    font-size: 70%;
    text-overflow: ellipsis;
    margin-top: 10%;
}

.pointsDash {
    color: #93c2ec;
    font-family: Lato,sans-serif;
    font-size: 70% ;
    text-overflow: ellipsis;
    margin-top: 10%;
}


.statusImageDash {
    width: 10%;
    height: 80%;
    margin-left: 6%;
    margin-bottom: 1%;
    margin-top: 1.5%;
}

