.LeaderboardCard {
    font-size: 1.6vmax;
    text-align: center;
    color: white;
    margin-top: .5vmax;
    margin-left: .5vmax;
    margin-right: .5vmax;
    background-color: #93c2ec !important;
    width: 10vmax;
    height: 23vmax;
    overflow-y: hidden;
    overflow-x: hidden;
}

.userProfilesDash { 
    margin-left: 1vmax;
    margin-right: 1vmax;
    margin-bottom: 1vmax;
    width: .1vmax;
    height: .1vmax;
}

.font {
    color: white;
    font-family: Lato,sans-serif;
    text-decoration: none;
}

.uvs-left {
    border-radius: 10px 10px 10px 10px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
    
    
.uvs-right {
    border-radius: 10px 10px 10px 10px;
    
}

.userProfileDash {
    width: 4vmax;
    height: 4vmax;
    margin-top: 2.5vmax;
    margin-bottom: 1vmax;
    margin-left: 2vmax;
    margin-right: 2vmax;
}

.categoryDash {
    font-size: .1vmax;
    text-align: center;
    color: #1eb5f1;
}

.progressBarDash {
    width: 4vmax;
    height: 4vmax;
    margin-left: 1vmax;
    margin-right: 1vmax;
    margin-bottom: 2vmax;
    align-items: center;
    display: flex;
    flex: column;
    justify-content: center;
}

.textDash {
    align-items: center;
    display: flex;
    flex: column;
    justify-content: center;
}