.LeaderboardCard {
    font-size: 1.2rem;
    text-align: center;
    color: white;
    margin-top: .5rem;
    margin-left: .5rem;
    margin-right: .5rem;
    background-color: #93c2ec !important;
    width: 15rem;
    height: 15rem;
}

.font {
    color: white;
    font-family: Lato,sans-serif;
}

.uvs-left {
    border-radius: 10px 10px 10px 10px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
    
    
.uvs-right {
    border-radius: 10px 10px 10px 10px;
    
}