.LearningModuleCard {
    font-size: 1.8vmax;
    text-align: center;
    color: white;
    margin-top: .5%;
    margin-left: .5%;
    margin-right: 1.5%;
    background-color: #1e5b88 !important;
    width: 20%;
    height: 20vmax;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.font {
    color: white;
    font-family: Lato,sans-serif;
}
.uvs-left {
    border-radius: 10px 10px 10px 10px;
}
    
    
.uvs-right {
    border-radius: 10px 10px 10px 10px;
    
}
