.LearningModuleCard {
    font-size: 1.8vmax;
    text-align: center;
    color: white;
    margin-top: .5%;
    margin-left: 3.5%;
    background-color: #1e5b88 !important;
    width: 16%;
    height: 20vmax;
}

.testPanelFont {
    color: white;
    font-family: Lato,sans-serif;
    text-decoration: none;
    
}

.testPanelFont:hover {
   color: #d8dae3;
}

.moduleCardHeaderButton {
    background-color: #127ebf!important;
    border: none;
}

.moduleCardHeaderButton:focus {
    box-shadow: none !important;
}

.requiredModulesRow {
    margin-top: 2%;
    font-family: Lato,sans-serif;
}

