.LearningModuleCard {
    font-size: 1.8vmax;
    text-align: center;
    color: white;
    margin-top: .5%;
    margin-left: 2%;
    margin-right: .5%;
    background-color: #1e5b88 !important;
    width: 20%;
    height: 20vmax;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.testPanelFont {
    color: white;
    font-family: Lato,sans-serif;
    text-decoration: none;
    
}

.testPanelFont:hover {
   color: #d8dae3;
}

<<<<<<< HEAD:src/Dashboard/TestPanel.css
.dashProgressBar {
    margin-top: 10%;
    width: 70%;
}

.uvs-left {
    border-radius: 10px 10px 10px 10px;
}
    
    
.uvs-right {
    border-radius: 10px 10px 10px 10px;
    
}

=======
>>>>>>> origin:src/Dashboard/LearningModuleCard.css

