.WelcomePanelCard {
    font-family: Lato,sans-serif;
    color: white;
    background-color: #cc3333 !important;
    margin-top: .5%;
    margin-bottom: .5%;
    margin-left: 5%;
    margin-right: 1.5%;
    width: 55%;
    height: 20vmax;
}

.WelcomePanelImage {
    margin-left: 5%;
    margin-right: 1%;
    margin-top: 6.5%;
    margin-bottom: 1%;
    width: 10vmax;
    height: 10vmax; 
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.titleFont {
    font-size: 6vmin;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 6.5%;
    margin-bottom: 1%;
    font-family: Lato,sans-serif;
}
  
.cardSize {
    width: 90%;
    height: 15%;
}