.WelcomePanelCard {
    font-family: Lato,sans-serif;
    color: white;
    background-color: #cc3333 !important;
    margin-top: .5vmax;
    margin-bottom: .5vmax;
    margin-left: 3vmax;
    margin-right: 1.5vmax;
    width: 55vmax;
    height: 23vmax;
}

.WelcomePanelImage {
    margin-left: 3vmax;
    margin-right: 1vmax;
    margin-top: 3.5vmax;
    margin-bottom: 1vmax;
    width: 12vmax;
    height: 12vmax; 
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.uvs-left {
    border-radius: 10px 10px 10px 10px;
    border: white;
    border-radius: .13vmax;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
    
    
.uvs-right {
    border-radius: 10px 10px 10px 10px;
}

.titleFont {
    font-size: 3.5vmax;
    margin-left: 1vmax;
    margin-right: 1vmax;
    margin-top: 2vmax;
    margin-bottom: 1vmax;
    font-family: Lato,sans-serif;
}
  
.cardSize {
    width: 90vmax;
    height: 15vmax;
}
  
  