.LearningModulePanelCard {
    font-size: 1.8vmax;
    text-align: center;
    color: white;
    margin-top: .5%;
    margin-left: .5%;
    margin-right: 1.5%;
    background-color: #1e5b88 !important;
    width: 20%;
    height: 20vmax;
}
