.registerHeader_admin_dash {
    margin-top: 3%;
}

.employer-header_admin_dash {
    color: white;
    text-align: left !important;
    text-shadow: 2px 2px 5px black;
}

#add-company-text {
    margin-top: 1%;
}

.addButton {
    margin-top: 3%;
    text-shadow: none;
    width: 90%;
    background-color: #1e5b88;
}


.deleteButton {
    margin-top: 3%;
    text-shadow: none;
    width: 90%;
    background-color: #cc3333;
}


.company_input_admin_dash {
    width: 90%;
}
