.createButton {
    margin-top: 10%;
    margin-left: -7%;
    width: 120%;
    background-color: #1e5b88;
    text-shadow: none;
    
}

.delete_list_drop_down {
    width: 90%;
    margin-top: -3%;
    overflow-y: scroll !important;
}

.form_height_employer_invitation {
    height: 3vmax !important;
}

#email-invite {
    margin-top: 5%;
    margin-left: -8%;
    margin-right: -13%;
   
}

