.loginbg {
    background-image: url("loginbg_small.png");
    height: 120%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
}

@media screen and (min-width: 1000px) {
    .loginbg {
        background-image: url("loginbg_medium.png");
        height: 120%;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        position: fixed;
    }
  }

@media screen and (min-width: 1500px) {
    .loginbg {
        background-image: url("loginbg.png");
        height: 100%;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        position: fixed;
    }
}


.login_pageHeader {
    margin-top: 7%;
    text-align: center;
}

.login_pageHeaderText {
    color: white;
    text-shadow: 2px 2px 5px black;
    font-size: 3vmax;
}

.login_columnDivder {
    margin-top: 5%;
    animation: login_upwardsFadeIn 1s;
}

.login_formColumn {
    border-radius: 25px;
    padding-top: 3%;
}

.login_formColumn:hover {
    animation: login_hoverFade 0.5s linear;
    background-color: #ffffff1f; 
}

.login_h3{
    color: white;
    width: 75%;
    text-shadow: 2px 2px 2px black;
}

.login_p{
    color: white;
    width: 75%;
}

.login_loginResponse {
    margin-top: 2%;
    font-family: Lato,sans-serif;
    font-size: 1vmax;
    color: white;
    width: 72%;
    background-color: #0000003f;
}

.login_forgotPass{
    color: white;
    background-color: #cc3333;
    font-family: Lato,sans-serif;
    font-size: 1.3vmax;
    text-align: center;
    width: 72%;
    height: 20%;
    margin-bottom: 5%;
    transition: background-color 0.5s ease-out
}

.login_Form{
    width: 75%;
}

.login_loginCard {
    border: white;
    background-color: transparent;
    width: 70%;
}

.login_formButton {
    color: white;
    background-color: #cc3333;
    font-family: Lato,sans-serif;
    font-size: 1.3vmax;
    text-align: center;
    width: 72%;
    height: 20%;
    margin-bottom: 5%;
    transition: background-color 0.5s ease-out
}

.login_formButton:hover {
    animation: login_sizeBump .3s linear
}

@keyframes login_hoverFade { 
    from { background-color: #ffffff00; } 
    to { background-color: #ffffff1f; }
}

@keyframes login_upwardsFadeIn { 
    from { margin-top:10%; opacity:0; } 
    to { margin-top:5%; opacity:1; } 
}

@keyframes login_sizeBump { 
    0% { font-size: 1.3vmax; } 
    50% { font-size: 1.32vmax; } 
    0% { font-size: 1.3vmax; } 
}