.loginbg {
    background-image: url("loginbg.png");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    
}

.emailAndPass {
    font-family: Lato,sans-serif;
    margin-top: 12vmax;
    margin-bottom: 10vmax;
    margin-left: 16vmax;
    margin-right: 10vmax;
    width: 90%;
    font-size: .1vmax;
}

.header {
    font-family: Lato,sans-serif;
    font-weight: bold;
    font-size: 2vmax;
    margin-top: 2%;
    margin-bottom: 0;
    margin-left: 5%;
    margin-right: 30%;
    color: #1e5b88;
}

.body {
    font-family: Lato,sans-serif;
    font-size: 100%;
    margin-left: 5%;
    margin-right: 20%;
    margin-top: 0;
    color: #1e5b88;
}

.loginCard {
    border: white;
    background-color: transparent;
    width: 70%;
}

.loginButton {
    color: white;
    background-color: #c33333;
    margin-top: 5%;
    font-family: Lato,sans-serif;
    font-size: 1.1vmax;
    text-align: center;
    width: 50%;
}

.loginButton:hover {
    background-color: #c33333;
    border: none;
}

.loginButton:focus {
    background-color: #c33333;
    border: none;
}

.registerButton {
    color: white;
    background-color: #c33333;
    margin-top: 5%;
    font-family: Lato,sans-serif;
    font-size: 1.1vmax;
    text-align: center;
    width: 50%;
}

.registerButton:hover {
    background-color: #c33333;
    border: none;
}

.registerButton:focus {
    background-color: #c33333;
    border: none;
}

.loginHeader {
    font-family: Lato,sans-serif;
    font-size: 2vmax;
    margin-top: 2%;
    margin-bottom: 0;
    margin-left: 20%;
    margin-right: 23%;
    color: white;

}

.loginMessage {
    font-family: Lato,sans-serif;
    font-size: 2vmax;
    margin-top: 2%;
    margin-bottom: 0;
    margin-left: 18%;
    margin-right: 23%;
    color: white;

}

.email {
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left: 10%;
    width: 50%;
    font-size: .1vmax;
}

.pass {
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left: 10%;
    width: 50%;
    font-size: .1vmax;
}

