.margin_bottom_learning_manager{
    margin-bottom: 3.5%;

}

.Employer_Join_Requests_Learning_Manager {
    background-color: #93c2ec;
    color: white;
    width: 100%;
    margin-top: .5%;
    margin-bottom: .5%;
}

@media screen and (min-width: 700px) {
    .Employer_Join_Requests_Learning_Manager  {
        background-color: #93c2ec;
        color: white;
        width: 100%;
        margin-top: 0%;
        margin-bottom: .5%;
    }
}

.Learning_Manager_Card_Header  {
    margin-top: 0%;
    margin-right: 3%;
    margin-bottom: .1%;
    margin-left: 1%;
    width: 98%;
    color: black;
}


.Learning_Manager_Card_Values_learning_manager {

}

.Remove_Button_learning_manager_col {

}

.learning_manager_card {
    margin-top: .7%;
    margin-left: 1%;
    margin-right: .5%;
    margin-bottom: .1%;
    border-radius: 10px 10px 10px 10px;
    background-color: #1e5b88;
    width: 98%;
    text-align: left;

    font-family: Lato,sans-serif;
    font-size: 90%;

    color: white;
}

.Learning_Manager_Card_Values_mini {

}

.Learning_Manager_Popup {

}


