.margin_bottom_learning_manager{
    margin-bottom: 3.5%;

}
@media screen and (min-width: 700px) {
    .margin_bottom_learning_manager {
        margin-bottom: 1.5%;
    }
}

.Employer_Join_Requests_Learning_Manager {
    background-color: #93c2ec;
    color: white;
    width: 100%;
    margin-top: .5%;
    margin-bottom: .5%;
}


.employee_learning_modules_manager_title {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 2.5%;
    font-size: 130%;
    text-shadow: 2px 2px 5px black;
}

@media screen and (min-width: 700px) {
    .employee_learning_modules_manager_title {
        margin-top: .5%;
        margin-bottom: .5%;
        margin-left: 1.5%;
        font-size: 200%;
        text-shadow: 2px 2px 5px black;
    }
}

@media screen and (min-width: 700px) {
    .Employer_Join_Requests_Learning_Manager  {
        background-color: #93c2ec;
        color: white;
        width: 100%;
        margin-top: 0%;
        margin-bottom: .5%;
    }
}

.Learning_Manager_Card_Header  {
    margin-top: 0%;
    margin-right: 3%;
    margin-bottom: .1%;
    margin-left: 1%;
    width: 98%;
    color: black;
}


.Learning_Manager_Card_Values_learning_manager {
    font-size: 120%;
}

.Remove_Button_learning_manager_col {
    font-size: 120%;
}

.learning_manager_card {
    margin-top: .7%;
    margin-left: 1%;
    margin-right: .5%;
    margin-bottom: .1%;
    border-radius: 10px 10px 10px 10px;
    background-color: #d8dae3;
    width: 98%;
    text-align: left;

    font-family: Lato,sans-serif;
    font-size: 90%;

    color: white;
}

.Learning_Manager_Card_Values_mini {
    margin-top: 2%;
    margin-left: 10%;
    margin-bottom: 1;
    font-size: 90%;
    width: 100%;
    overflow:hidden !important;
    white-space: nowrap; /* Don't forget this one */
    text-overflow: ellipsis;
    color: black;
}

@media screen and (min-width: 1000px) {
    .Learning_Manager_Card_Values_mini {
        margin-top: 1%;
        margin-bottom: 1;
        font-size: 120%;
        margin-left: 10%;
        width: 100%;
        overflow:hidden !important;
        white-space: nowrap; /* Don't forget this one */
        text-overflow: ellipsis;
        color: black;
    }
}
