.profileImage {
    width: 5vmax;
    height: 5vmax;
}

.settingsRow {
    width: 90vmax;
}

.nav-link.active {
    width: 8vmax;
    border-radius: 5px;
    background-color: #cc3333 !important;
    text-align: center;
}

.unselectedSetting {
    color: #1e5b88;
    text-align: center;
    border: #1e5b88;
    width: 8vmax;
    border-radius: 5px;  
}

.unselectedSetting:hover {
    color: #d8dae3;
}

.settingsMenuContainer {
    margin-top: 1vmax;
    margin-bottom: 2vmax;
    margin-left: 2vmax;
    margin-right: 2vmax;
    height: 20vmax;
}

.usernameText { 
    font-family: Lato,sans-serif;
    font-size: 1.4vmax;
    margin-top: 2vmax;
    margin-bottom: 2vmax;
}

.usernameControl {
    border: #d8dae3;
}


.emailText {
    font-family: Lato,sans-serif;
    font-size: 1.4vmax;
    margin-top: 2vmax;
    margin-bottom: 2vmax;
}

.emailControl {
    border: #d8dae3;
}


.emailInput {
    font-family: Lato,sans-serif;
    font-size: 1.4vmax;
    margin-top: 2vmax;
    margin-bottom: 2vmax;
    width: 60vmax;
}

.usernameInput {
    font-family: Lato,sans-serif;
    font-size: 1.4vmax;
    margin-top: 2vmax;
    margin-bottom: 2vmax;
    width: 60vmax;
}

.dropShadow {
    margin-top: 2vmax;
    margin-bottom: 2vmax;
    margin-left: 2vmax;
    margin-right: 2vmax;
    width: 70vmax;
}

.shadowTab {
    margin-top: 2vmax;
    margin-bottom: 2vmax;
    margin-left: 2vmax;
    margin-right: 2vmax;
    width: 11vmax;
    height: 13vmax;
 
}

.marginTop {
    margin-top: 1vmax;
}
