.Login {
    text-align: center;
  }
  
  
  .Login {
    background-color: #127ebf;
    position: absolute;
    top: 0;
    right: 0;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .Login-link {
    color: #61dafb;
  }
  

  