.nav.nav-pills .nav-link.active {
    background-color: #127ebf;
    color: white;
    margin-right: .5rem;
    margin-top: .5rem;
}

.MedcurityLogo {
    width: 15rem;
}

.logo {
    border: white;
}

.pills {
    border: white;
}