.MenuBar {
    text-align: center;
  }
  
  
  .MenuBar {
    background-color: #127ebf;
    font-size: calc(10px + 2vmin);
    color: white;
    margin-right: 50px;
    margin-left: 50px;
    padding: 500px;
    
  }


  
  .MenuBar-link {
    color: #61dafb;
  }
  
  @keyframes MenuBar-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  