.navPills {
    background-color: #127ebf;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 1vmax;
    margin-left: 0vmax;
    margin-top: .5vmax;
    margin-bottom: .5vmax;
    font-size: 1vmax;
    
}

.font {
    color: white;
    font-family: Lato,sans-serif;
}

.MedcurityLogo {
    width: 15vmax;
}

.logo {
    border: white;
    margin-left: 1%;
}

.pills {
    border: white;
}