.userPanel {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    border-radius: 10px 10px 10px 10px;
    background-color: #c33333;
    width: 98%;
    height: 25vmax;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.userProfile {
    width: 60%;
    height: 80%;
    margin-top: -11%;
    margin-left: 40%;

}

.category {
    font-size: 1.6vmax;
    text-align: center;
    color: white;
    margin-top: -5%;
    margin-left: 30%;
}

.userNameTitle {
    font-size: 1.6vmax;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-left: 20%;
    margin-top: -5%;
}

.progressBar {
    width: 80%;
    height: 80%;
    margin-left: 40%;
    margin-right: 20%;
    margin-bottom: 2%;
    margin-top: -11%;
    align-items: center;
    display: flex;
    flex: column;
    justify-content: center;
    font-size: 100%;
}



.accordian {
    border-color: transparent;
    background-color: transparent;
}

.accordianToggel {
    border-color: transparent;
    background-color: transparent;
    height: 9.5vmax;
}

.cardHeaderAccordian {
    border-radius: 10px 10px 10px 10px;
    background-color: transparent;
    border-color: transparent;
    width: 13%;
    height: 7.5vmax;
}

.cardAccordianCollapse {
    margin-left: .5%;
    margin-right: .5%;
    border-radius: 10px 10px 10px 10px;
    background-color: #c33333;
    width: 77%;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}