.leaderboardbg {
    background-image: url("leaderboard_medium.png");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
}

@media screen and (max-height: 764px) {
    .leaderboardbg {
        background-image: url("leaderboard_medium.png");
        height: 140%;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        position: fixed;
    }
}


.leaderboardContainer {
    margin-top: 5%;
    margin-bottom: 3%;
    margin-left: 3%;
    height: 80vmax;
    width: 90%;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color:  #1e5b88 rgba(255, 0, 0, 0);

}

@media screen and (min-width: 1000px) {
    .leaderboardContainer {
        margin-top: 2%;
        margin-bottom: 3%;
        height: 38vmax;
        width: 100%;
        background-color: white;
        overflow-y: scroll;
        overflow-x: hidden;
        scrollbar-color:  #1e5b88 rgba(255, 0, 0, 0);
    
    }
}


.shadowTab_leaderboard {
    margin-top: 5%;
    width: 380px;
    height: 80px;
    background-color:  white;
 
}



@media screen and (min-width: 700px) {
    .shadowTab_leaderboard {
        margin-top: 1%;
        width: 380px;
        height: 80px;
        background-color:  white;
    
    }
}


.selection_leaderbaord_container  {
    margin-top: 5%;
    background-color: white !important;
}


.orginization_selection_tab:active {
    background-color: white!important;
}

.all_leaderboard_selection {
    background-color: white;
}

.leaderbaord_pill_font.active {
    background-color:  #cc3333!important;
}
