.userPanel {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    border-radius: 10px 10px 10px 10px;
    background-color: #c33333;
    width: 95.5%;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.userProfile {
    width: 7.5vmax;
    height: 6vmax;
    margin-top: -3%;
    margin-left: 40%;

}

.category {
    font-size: 1.6vmax;
    text-align: center;
    color: white;
    margin-top: -5%;
    margin-left: 30%;
}

.userNameTitle {
    font-size: 1.6vmax;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-left: 20%;
    margin-top: -5%;
}

.progressBar {
    width: 60%;
    height: 60%;
    margin-left: 50%;
    margin-right: 20%;
    margin-bottom: 2%;
    align-items: center;
    display: flex;
    flex: column;
    justify-content: center;
    font-size: 100%;
}

.accordian {
    border-color: transparent;
    background-color: transparent;
}

.accordianToggel {
    border-color: transparent;
    background-color: transparent;
    
}

.cardHeaderAccordian {
    border-radius: 10px 10px 10px 10px;
    background-color: transparent;
    border-color: transparent;
    width: 12%;
    height: 10.2vmax;
}

.cardAccordianCollapse {
    margin-left: .5%;
    margin-right: .5%;
    border-radius: 10px 10px 10px 10px;
    background-color: #c33333;
    width: 77%;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}